@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#main {
    width: 100%;
    display: table;
    overflow: hidden;
}

body {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-right: 20px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
}



#left-content,
#main-content {
    display: table-cell;
    padding: 0px 20px 20px 20px;
}

#left-content {
    width: 40%;
    background: linear-gradient(to right, white 0%, pink 100%);
    color: black;
    float: left;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
    text-align: left;
}

#main-content {
    width: 50%;
    background: white;
    color: black;
    float: left;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
    text-align: center;
}

.div1 {
    position: absolute;
  top: 20px;
  right: 25px;
  font-size: 18px;
}

.header1 {
    background: aqua;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 0px 0px 25px 0px;
    margin-bottom: -22px;

}

.header2 {
    background: black;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-top: -25px;
}

.header3 {
    background: linear-gradient(to right, pink, aqua 100%);
    color: black;
    text-align: left;
    font-style: italic;
    padding: 10px 25px 0px 0px;
    margin-top: -5px;
    margin-bottom: -20px;
}


.footer {
    background-color: black;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 10px 10px 10px 10px;
}

nav ul li a:link,
nav ul li a:visited {
    font-size: 15pt;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 30px;
    background-color: pink;
    color: #ffffff;
    border-radius: 3rem;
}

nav ul li a:hover,
nav ul li a:active {
    font-size: 15pt;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 30px;
    background-color: aqua;
    color: #000000;
    border-radius: 3rem;
}



nav ul li {
    list-style: none;
    text-align: center;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

footer ul li {
    list-style: none;
    text-align: center;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

footer ul li a:link,
footer ul li a:visited {
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 5px;
    color: #ffffff;
}

footer ul li a:hover,
footer ul li a:active {
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 5px;
    color:aqua;
}

footer a:link,a:visited {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

footer a:hover,a:active {
    font-weight: bold;
    text-decoration: none;
    color: white;
}  



.image {   
    object-fit: cover;
    height: 300px;
    width: 100%;

}

.square {
    width: 75%;
    height: 600px;
    margin: 1%;
    border-radius: 3rem;
    border: solid 0.25rem black;
}

.tableclass {
    border: solid black 10px;
    background-color: pink;
    margin-left: 25%;
}

.billing {
    width: 225px;
    text-align: left;
    font-weight: bold;
    margin-left: 25%;
}

#errors {

    color: red;

    font-weight: bold;

    font-size: larger;

}

.email {
    border: solid black 10px;
    background-color: pink;
    margin-left: 25%;
    width: 100px;
    height: 200px;

}







